{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css'  %}">

    <!-- Custom styles for this template -->
  
   
</head>

  
<body class="text-center" style="opacity: 2;" >
    <!-- img src="https://source.unsplash.com/XLNo-18vqDg/1000x500" -->
    <img src="https://source.unsplash.com/e8YFkjN2CzY/1000x500">
    <div style="margin-bottom: 50px; margin-top: 2px;">
    <div style="margin-top: 10px;">
        <h1 style="color: black;">Welcome to The Covid19 Kit</h1>
    </div>
    <div style="margin-top: 70px;">
        <div>
            <a class="btn btn-lg btn-primary col-3 mt-20" style="margin-right: 50px;" href="{% url 'need' %}">I need something</a>
            <a class="btn btn-lg btn-primary col-3 mt-20" style="margin-left: 50px;"
                href="{% url 'give' %}">I want to contribute</a>
        </div>
    </div>
</div>
</body>

</html>