{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css'  %}">

    <!-- Custom styles for this template -->
  <!--  <style>
        body {
          background-image: url('https://source.unsplash.com/Q8m8cLkryeo/1300x500');
          background-repeat: no-repeat;
          opacity: 0.5;
          min-width: 100%;
          min-height: 100%;
        }
     </style> -->
  
   
</head>

  
<body class="text-center" style="opacity: 2;" >
    <div style="margin-bottom: 50px; margin-top: 0px;">
    <div style="margin-top: 210px;">
        <h1 style="color: black;">Welcome to The Covid19 Kit</h1>
    </div>
    <div>
        <button class="btn-primary btn"
             onclick="window.location.href = "{% url 'give' %}">
        Create a request
    </button>
    </div>
    <table class="table" style="margin-top: 40px;">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Needs</th>
                <th scope="col">State</th>
                <th scope="col">Patient</th>
                <th scope="col">Age</th>
                <th scope="col">Address1</th>
                <th scope="col">Address2</th>
                <th scope="col">Pincode</th>
                <th scope="col">Contact</th>
                <th scope="col">Requested on</th>
                
            </tr>
        </thead>
    <tbody>
        {% for post in posts %}
        <tr>
            <th scope="row">{{ post.id }}</th>
            <td>{{ post.needs }}</td>
            <td>{{ post.state }}</td>
            <td>{{ post.nameofp }}</td>
            <td>{{ post.ageofp }}</td>
            <td>{{ post.address1 }}</td>
            <td>{{ post.address2 }}</td>
            <td>{{ post.pincode }}</td>
            <td>{{ post.contact1 }}</td>
            <td>{{ post.created_on }}</td>
            
        </tr>
        {% endfor%}
    </tbody>
    
</div>
</body>

</html>